/* Define theme CSS variables */
/* :root {
    --background-color: #ffffff;
    --primary-color: #1a1a1a;
    --text-color: #000000;
    --icon-color: #333333;
  } */
  
  /* Dark theme activated with Tailwind's `.dark` class */
  /* .dark {
    --background-color: #1a1a1a;
    --primary-color: #ffffff;
    --text-color: #ffffff;
    --icon-color: #cccccc;
  } */
  
  /* Apply base styles using variables */
  /* body {
    background-color: var(--background-color);
    color: var(--text-color);
  } */
  
@tailwind base;
@tailwind components;
@tailwind utilities;
